<div class="container">

  <h2> HOODIES </h2>

  <div class="row">

    <div class="col-md-4" id="col">
      <img src="images/hoodies/hoodie1.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $100 </p>
    </div>

    <div class="col-md-4" id="col">
      <img src="images/hoodies/hoodie2.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $156 </p>
    </div>

    <div class="col-md-4" id="col">
      <img src="images/hoodies/hoodie3.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $89 </p>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4" id="col">
      <img src="images/hoodies/hoodie4.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $128 </p>
    </div>

    <div class="col-md-4" id="col">
      <img src="images/hoodies/hoodie5.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $45 </p>
    </div>

    <div class="col-md-4" id="col">
      <img src="images/hoodies/hoodie6.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $190 </p>
    </div>

  </div>

</div>
