<div class="container-fluid">

  <div class="top" style="background-image: url('Brioni Exclusive Tuxedo - MRPORTER.jpg');">

    <img src="images/headers/Brioni Exclusive Tuxedo - MRPORTER.jpg" alt="" id="img1">
    <img src="images/headers/header2.jpg" alt="" id="img2">

  </div>

</div>


<div class="container">

  <div class="heading">

    <h1>SHOP MEN'S FASHION </h1>

    <h3>FREE KENYA SHIPPING</h3>

  </div>

{{#carousel-container transitionInterval=300}}

  {{#carousel-body}}
    {{#carousel-item}}

    {{#carousel-arrow direction="left" tagName="button"}}
      <span class="glyphicon glyphicon-chevron-left"></span>
    {{/carousel-arrow}}

      {{#link-to 'hoodie'}} <img src="images/hoodies/denim-jumper.jpg" id="img"> {{/link-to}}

      {{#link-to 'short'}} <img src="images/shorts/navy-denim-short.jpg" id="img"> {{/link-to}}

      {{#link-to 'shirt'}} <img src="images/shirts/casual-denim-shirt.jpg" id="img"> {{/link-to}}

      {{#link-to 'trouser'}} <img src="images/trousers/trouser3.jpg" alt="" id="img"> {{/link-to}}

      {{#carousel-arrow direction="right" tagName="button"}}
        <span class="glyphicon glyphicon-chevron-right"></span>
      {{/carousel-arrow}}

    {{/carousel-item}}




      {{#carousel-item}}

      {{#carousel-arrow direction="left" tagName="button"}}
        <span class="glyphicon glyphicon-chevron-left"></span>
      {{/carousel-arrow}}

        {{#link-to 'shirt'}} <img src="images/outerwear/plain-tshirt.jpg" id="img"> {{/link-to}}
        {{#link-to 'outerwear'}} <img src="images/outerwear/outer3.jpg" id="img"> {{/link-to}}
        {{#link-to 'hoodie'}} <img src="images/hoodies/hoodie4.jpg" id="img"> {{/link-to}}

        {{#carousel-arrow direction="right" tagName="button"}}
          <span class="glyphicon glyphicon-chevron-right"></span>
        {{/carousel-arrow}}

      {{/carousel-item}}






  {{/carousel-body}}

{{/carousel-container}}

</div>

  <div class="container">


    <div class="row">

      <div class="col-md-6" id="col">

          <p id="headers"> HOODIES</p>
        <p id="desc"> Mens's designer hoodies & sweatshirts.</p>

          {{#link-to 'hoodie'}} <button> SHOP NOW </button> {{/link-to}}

      </div>

      {{#link-to 'hoodie'}}

      <div class="col-md-6" style="text-align: center;">

          <img src="images/hoodies/hoodie.jpg" alt="" style="width: 470px; height: 420px;">

      </div>

      {{/link-to}}

    </div>



    <div class="row">

      {{#link-to 'shirt'}}

      <div class="col-md-6" style="text-align: center;">
          <img src="images/shirts/blacklargegingham01.jpg" alt="" style="width: 470px; height: 420px;">
      </div>

      {{/link-to}}

      <div class="col-md-6" id="col">
          <p id="headers"> SHIRTS </p>
          <p id="desc"> Men's designer shirts & t-shirts. </p>

          {{#link-to 'shirt'}} <button> SHOP NOW </button>  {{/link-to}}
      </div>

    </div>



    <div class="row">

      <div class="col-md-6" id="col">
        <p id="headers"> OUTERWEAR </p>
        <p id="desc"> Designer jackets, coats, blazers, leather & vests. </p>

        {{#link-to 'outerwear'}} <button> SHOP NOW </button> {{/link-to}}
      </div>

      {{#link-to 'outerwear'}}

        <div class="col-md-6">
          <img src="images/outerwear/outerwear1.jpg" alt="" style="width: 470px; height: 420px;">
        </div>

      {{/link-to}}

    </div>



    <div class="row">

      {{#link-to 'trouser'}}

        <div class="col-md-6">
          <img src="images/trousers/denim-jeans.jpg" alt="" style="width: 470px; height: 420px;">
        </div>

      {{/link-to}}

      <div class="col-md-6" id="col">
        <p id="headers"> PANTS </p>
        <p id="desc"> Designer, casual & official pants. </p>

        {{#link-to 'trouser'}} <button> SHOP NOW </button> {{/link-to}}
      </div>

    </div>


    <div class="row">

      <div class="col-md-6" id="col">
        <p id="headers"> SHORTS </p>
        <p id="desc"> Designer, casual & beach shorts. </p>

        {{#link-to 'short'}} <button> SHOP NOW </button> {{/link-to}}
      </div>

      {{#link-to 'outerwear'}}

        <div class="col-md-6">
          <img src="images/shorts/navy-denim-short.jpg" alt="" style="width: 470px; height: 420px;">
        </div>

      {{/link-to}}

    </div>




  </div>
