<div class="container">

  <h2> OUTERWEAR </h2>

  <div class="row">

    <div class="col-md-4" id="col">
      <img src="images/outerwear/outer1.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $100 </p>
    </div>

    <div class="col-md-4" id="col">
      <img src="images/outerwear/outer2.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $156 </p>
    </div>

    <div class="col-md-4" id="col">
      <img src="images/outerwear/outer3.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $89 </p>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4" id="col">
      <img src="images/outerwear/outer4.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $128 </p>
    </div>

    <div class="col-md-4" id="col">
      <img src="images/outerwear/outer5.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $45 </p>
    </div>

    <div class="col-md-4" id="col">
      <img src="images/outerwear/outer6.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $190 </p>
    </div>

  </div>

</div>
