<div class="container">

  <h2> SHIRTS</h2>

  <div class="row">

    <div class="col-md-4" id="col">
      <img src="images/shirts/shirt1.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $100 </p>
    </div>

    <div class="col-md-4" id="col">
      <img src="images/shirts/shirt2.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $156 </p>
    </div>

    <div class="col-md-4" id="col">
      <img src="images/shirts/shirt3.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $89 </p>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4" id="col">
      <img src="images/shirts/shirt4.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $128 </p>
    </div>

    <div class="col-md-4" id="col">
      <img src="images/shirts/shirt5.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $45 </p>
    </div>

    <div class="col-md-4" id="col">
      <img src="images/shirts/shirt6.jpg" alt="" id="list-images">
        <p> RICK MCHANA </p>
          <p> $190 </p>
    </div>

  </div>

</div>
